Source: ros-noetic-gazebo-video-monitor-plugins
Section: misc
Priority: optional
Maintainer: Nick Lamprianidis <nlamprian@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, libyaml-cpp-dev, ros-noetic-catkin, ros-noetic-gazebo-ros, ros-noetic-message-generation, ros-noetic-roscpp, ros-noetic-std-srvs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-gazebo-video-monitor-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-noetic-gazebo-ros, ros-noetic-message-runtime, ros-noetic-roscpp, ros-noetic-std-srvs
Description: The gazebo_video_monitor_plugins package
